---
---
$blue:    #7B41A4 !default;
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

/* Overwrites */
.internal{
  .intro-section {
    height: 10vh;
    min-height: 90px;
    &:before{
      width: 100%!important;
    }
  }

  .site-section {
    padding-top: 1rem !important;
  };
}

.image-absolute-box .box {
  top: 3%;
  padding: 10px 15px;

  p{
    color: rgba(255, 255, 255, .8);
    text-align: center;
    padding: none;
  }
}
