---
layout: internal
app_list:
  - title: Giornata di studio per il trentennale della Rete Archivi UDI Emilia-Romagna
    date: 23.10.2019
    img: images/appuntamenti/locandina-2019-10-23.jpg
    files:
      - name: Programma dell'evento (PDF)
        path: images/appuntamenti/2019-10-23-manifesto-web.pdf
---

<div class="site-section bg-light">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 mb-5">
        <h2 class="section-title">Appuntamenti</h2>
        <p>In occasione del suo trentennale, la Rete Archivi UDI Emilia-Romagna”
          promuove un ciclo di iniziative territoriali a partire dal mese di
          ottobre 2019 e che proseguiranno fino alla primavera 2020.</p>
      </div>
    </div>

    <div class="row">

      {% assign count = 0 %}

      {% for app in page.app_list %}
      {% assign count = count | plus: 1 %}
      <div class="col-lg-4">
        <div class="process p-3 shadow">
          <div>
            <h3>{{ app.title }}</h3>
            <p class="date">{{ app.date | date: "%d/%m/%Y" }}</p>
            {% if app.img %}
            <p>
              <img src="../{{ app.img }}" alt="{{ app.title }}" class="img-fluid" />
            </p>
            {% endif %}
            <p>Allegati</p>

            {% for f in app.files %}
            <li><a href="{{ f.path | relative_url }}">{{ f.name }}</a>
            {% endfor %}
          </div>

        </div>
      </div>
      {% endfor %}

{% comment %}

      {% for post in site.appuntamenti %}
      <div class="col-lg-4">
        <div class="process p-3 shadow">
          <span class="number small">{{ post.date | date: "%m/%y" }}</span>
          <div>
            <h3>{{ post.title }}</h3>
            <p class="date">{{ post.date | date: "%d/%m/%Y" }}</p>
            <p>{{ post.content | strip_html | truncatewords: 10 }}...</p>
            <a href="{{ post.url | relative_url }}" title="{{ page.title}}">Apri</a>
          </div>

        </div>
      </div>
    {% endfor %}
{% endcomment %}

    </div>
  </div>
</div>
