---
layout: internal
custom_js: ["https://unpkg.com/leaflet@1.5.1/dist/leaflet.js", "map"]
custom_css: ["https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"]
---

<div class="site-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 mb-5">
        <h2 class="section-title">Archivi</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>
      </div>
    </div>

    <div id="map" data-path="{{ "/" | relative_url }}"></div>

    <div class="row">
      {% for page in site.archivi %}

        <div class="col-lg-4">
          <div class="process p-3">
            <div>
              <h3>{{ page.title }}</h3>
              <p>{{ page.content | truncatewords: 10 }}</p>
              <a href="{{ page.url | relative_url }}" title="{{ page.title}}">Apri</a>
            </div>

          </div>
        </div>

      {% endfor %}
      <script>var map_data = [ {% for page in site.archivi %}
        {
          "title": "{{ page.title }}",
          "lat": {{ page.lat }},
          "lng": {{ page.lng }},
          "href": "{{ page.url | relative_url }}"
        },
        {% endfor %} ]</script>
    </div>
  </div>
</div>
