<div class="intro-section article" id="article-section">
</div>


<div class="site-section">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-auto mb-5">

        <div class="mb-5">
          {% if page.pretitle %}
          <span class="section-sub-title d-block">{{ page.pretitle }}</span>
          {% endif %}
          <h2 class="section-title">{{ page.title }}</h2>
          {{ content }}
        </div>
      </div>

      <div class="col-lg-6">
        <div class="image-absolute-box" >
          {% if page.caption %}
          <div class="box">
            <p>{{ page.caption }}</p>
          </div>
          {% endif %}
          {% if page.image %}
          <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" class="img-fluid">
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>
