---
layout: default
---
<div class="main-page-wrapper">



    <!--
    =====================================================
        Theme Inner page Banner
    =====================================================
    -->
    <section class="inner-page-banner">
        <div class="opacity">
            <div class="container">
                <h2>{{ site.title }}</h2>
            </div> <!-- /.container -->
        </div> <!-- /.opacity -->
    </section> <!-- /.inner-page-banner -->
    
    <div id="team-section">
        <div class="container">
            <div class="theme-title">
                <h2>{{ page.title }}</h2>
                <p>{{ content }}</p>
            </div> <!-- /.theme-title -->
    
            <div class="clearfix team-member-wrapper">
            {% for item in site[page.coll_id] %}
            {% if item.url contains page.permalink and item.id != page.id %}
                <div class="float-left">
                    <div class="single-team-member">
                        <div class="img">
                            <img src="{{ item.img | relative_url }}" alt="{{ item.title }}">
                            <div class="opacity tran4s">
                                <p>
                                    <a href="{{ item.permalink | relative_url }}">{{ item.preview }}...</a>
                                </p>
                            </div>
                        </div> <!-- /.img -->
                        <div class="member-name">
                            <h6>
                                <a href="{{ item.permalink | relative_url }}">{{ item.title }}</a>
                            </h6>
                        </div> <!-- /.member-name -->
                    </div> <!-- /.single-team-member -->
                </div> <!-- /float-left -->
            {% endif %}

            {% endfor %}
            </div> <!-- /.team-member-wrapper -->
        </div> <!-- /.conatiner -->
    </div> <!-- /#team-section -->
    
</div>
