---
layout: internal
---

<div class="site-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 mb-5">
        <h2 class="section-title">Progetti</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>
      </div>
    </div>

    <div class="row">
      {% assign count = 0 %}

      {% for page in site.pages %}
        {% if page.dir == '/progetti/' %}
        {% assign count = count | plus: 1 %}


        <div class="col-lg-4">
          <div class="process p-3">
            <span class="number">{{ count | prepend: '00' | slice: -2, 2 }}</span>
            <div>
              <h3>{{ page.title }}</h3>
              <p>{{ page.content | truncatewords: 10 }}</p>
              <a href="{{ page.url }}" title="{{ page.title}}">Apri</a>
            </div>

          </div>
        </div>

        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
